<!DOCTYPE html>
<html lang="fr">
    
    {% include 'LawAdminBundle:Front:head.html.twig' %}
    
    <body>        
        
        {# WRAPPER #}
        <div class="wrapper animsition">
            
            {% set homeLink = path('front_index') %}
            {% include 'LawAdminBundle:Front:header.html.twig' %}
            
            {# Section 1: Gallery description #}
            <section class="galleryDesc">

                <div class="galleryVisual">
                    <img    class="visual" 
                            src="{{ asset('img/porfolio/'~ gallery.slug ~'/banner/' ~ gallery.bannerImage) }}" 
                            alt="visual of {{ gallery.name }}Project">

                    <div class="scrollDownIcon">

                        <a class="scrollBtn scroll" href="#galName">
                            <img  src="{{ asset('img/front/scroll_icon.png')}}">                                  
                        </a>

                    </div>
                </div>

                <div id="galName" class="galleryTitle">

                    {# GO TO PREVIOUS GALLERY #}
                    <a href="{{ path('front_gallery',{'slug' : previousGallery.slug } )}}" 
                       class="animsition-link porfolioButton">
                        <img class="previousGal" src="{{ asset('img/front/arrow_left.png')}}" alt="previous gallery">
                    </a>
                    
                    {# GO TO NEXT GALLERY #}
                    <a href="{{ path('front_gallery',{'slug' : nextGallery.slug } )}}"  
                       class="animsition-link porfolioButton">
                        <img class="nextGal" src="{{ asset('img/front/arrow_right.png')}}" alt="next gallery">
                    </a>

                    <h5>{{ gallery.name }}</h5>
                </div>

                <p class="project_class">UX / UI</p>
                <p class="project_text">
                    {{ gallery.descEn }}
                </p>

                <div class="clearfix"></div>

            </section>
            {# End Section 1: Gallery description #}

            {# Section 2: Gallery illustrations #}
            <section class="galleryPics">

                {% for illustration in illustrations %}

                    <img    src="{{ asset('img/porfolio/'~ gallery.slug ~'/illustrations/' ~ illustration.file) }}" 
                            class="wow slideInUp">

                {% endfor %}

            </section>
            {# End Section 2: Gallery illustrations #}

            <footer>

                <div class="galleryTitle">     

                    {# GO TO PREVIOUS GALLERY #}
                    <a href="{{ path('front_gallery',{'slug' : previousGallery.slug } )}}" 
                       class="animsition-link">
                        
                        <img class="previousGal" 
                             src="{{ asset('img/front/arrow_left.png')}}" 
                             alt="previous gallery">
                    </a>
                    
                    {# GO TO NEXT GALLERY #}
                    <a href="{{ path('front_gallery',{'slug' : nextGallery.slug } )}}"
                       class="animsition-link">
                        
                        <img class="nextGal" 
                             src="{{ asset('img/front/arrow_right.png')}}" 
                             alt="next gallery">
                    </a>

                    {# BACK TO INDEX #}
                    <a  href="{{ path('front_index')}}#porfolioSelection" 
                        class="animsition-link">
                                                
                        <img class="closeGal" 
                             src="{{ asset('img/front/x_icon.png')}}" 
                             alt="close gallery">
                    </a>

                </div>

                <p class="rightsGal">
                    {% include 'LawAdminBundle:Front:rights.html.twig' %}
                </p>

            </footer>

        </div> 
        {# End Wrapper #}

        {% include 'LawAdminBundle:Front:scripts.html.twig' %}

    </body>
</html>