{% if homeLink is not empty %}

    {% set navClass = 'animsition-link' %} {# fade out effect after click #}
    {% set logoAnchor = homeLink %}
    
{% else %}
    
    {% set navClass = 'scrollBtn' %} {# smooth scroll effect when clicking #}
    {% set logoAnchor = '#mainContent' %}
    
{% endif %}

<header>
    <h1>
        <a href="{{ logoAnchor }}" class="{{ navClass }}">
            <img src="{{ asset('img/front/LAW.png')}}" alt="Law logo">
            <h2>Jr. Art Director</h2>
        </a>                
    </h1>
    <nav class="mainNav">
        <ul>
            <li><a href="{{ homeLink }}#porfolioSelection" class="{{ navClass }}">PORTFOLIO</a></li>
            <li><a href="{{ homeLink }}#about" class="{{ navClass }}">ABOUT</a></li>
            <li><a href="{{ homeLink }}#contact" class="{{ navClass }}">CONTACT</a></li>
        </ul>
    </nav>
    <div class="clearfix"></div>
</header> 
