<!DOCTYPE html>
<html lang="fr">
    
    {% include 'LawAdminBundle:Front:head.html.twig' %}
    
    <body>    
        
        {# WRAPPER #}
        <div id="mainContent" class="wrapper animsition">
            
            {% set homeLink = '' %}
            {% include 'LawAdminBundle:Front:header.html.twig' %}


            <section class="presen_left">

                <article class="text_bloc_presen">
                    <h2> Hello! </h2>
                    <p>
                        I am Laura, a Spanish Jr. Art Director based in Paris.
                    </p>
                    <p>
                        I was planning to say something clever here, but the only thing I came up with is:
                    </p>
                    <p>
                        "Design is everywhere".
                    </p>
                    <a class="link_porfolio scrollBtn" href="#porfolioSelection">
                        <div class="button_portfolio button">
                            <img    src="{{ asset('img/front/portfolio_icon.png')}}" 
                                    alt="portfolio">
                            <p>VIEW PORTFOLIO</p>
                        </div>
                    </a>                
                </article>
            </section> 

            {# WORKS SECTION #}
                            
            <section class="works">
                
                <div id="porfolioSelection"></div>

                {% for currentGallery in galleries %}
                    
                    {% if loop.index0 is divisible by(3) %}
                        
                        <div class="grid">
                            
                    {% endif %}

                            <figure class="effect-sarah">
                                <img    src="{{ asset('img/porfolio/'~ currentGallery.slug ~'/thumb/' ~ currentGallery.thumbnailImage) }}" 
                                        alt="visual project {{ currentGallery.name }}"/>
                                <figcaption>
                                    <h2>{{ currentGallery.name }}</h2>                        
                                    <p>CORPORATE IDENTITY</p>
                                    <a href="{{ path('front_gallery', {'slug': currentGallery.slug}) }}" class="animsition-link">View more</a>
                                </figcaption>			
                            </figure>
                                    
                    {% if ((loop.index0 + 1) is divisible by(3)) or loop.last %}
                        
                            <div style="clear: both"></div>
                            
                        </div>

                    {% endif %}

                {% endfor %}

            </section>
            {# END WORKS SECTION  #}
            
            {# HI SECTION  #}
            <section class="description" id="about">
                <h3>Getting to know me</h3>
                <div class="keywords">
                    ART DIRECTOR<br />CREATIVE<br />UX DESIGNER<br />DREAMER<br />VEGGIE GIRL<br />SINGER<br />ADVENTURER<br />ILLUSTRATOR<br />ANIMAL LOVER<br />
                </div>
                <div class="txt_description">
                    <p>
                        I am Laura, a Fine Arts School Graduate who soon discovered a passion for Design. With over 10 years experience and a Master’s Degree in Graphic Design,

                        I have occupied many roles including Illustrator, Graphic Designer and Jr. Art Director.
                        <br />                                                                                                      
                        I also introduced myself into UX Design and I’m loving it.
                    </p>
                    <p>                    
                        My artistic background gives me a unique eye to create beautiful, visually stimulating and effective designs always paying attention to detail.                    
                        <br />
                        I’m currently available for a position as a UX Designer
                        <br />
                        or Art Director.
                    </p>

                </div>
            </section> 
            {# END HI SECTION  #}
            
            {# VISUAL SECTION #}
            <section class="visual visualAbout">
                <h4>Happy employers & clients</h4>

                <img    src="{{ asset('img/front/logos_pictos.png')}}"
                        class="wow fadeInUp imageBlock">

                <img    src="{{ asset('img/front/clients.png')}}"
                        class="wow fadeInUp imageBlock">

                <h4 class="chatHeader">We can have a nice chat ...</h4>

                <div class="langList">

                    <div class="language" >
                        <div>
                            <p>
                                <img    src="{{ asset('img/front/english.png')}}"
                                        alt="english" class="wow fadeInDown">
                            </p>
                        </div>
                        <p>... in English</p>
                    </div>

                    <div class="language">
                        <div>
                            <p>
                                <img    src="{{ asset('img/front/french.png')}}"
                                        alt="french" 
                                        class="wow fadeInDown">
                            </p>
                        </div>
                        <p>... ou en français</p>
                    </div>

                    <div class="language">
                        <div>
                            <p>
                                <img    src="{{ asset('img/front/spanish.png')}}"
                                        alt="spanish" 
                                        class="wow fadeInDown">
                            </p>
                        </div>
                        <p>... ¿quizá en español?</p>
                    </div>

                    <div class="language">
                        <div>
                            <p>
                                <img    src="{{ asset('img/front/italian.png')}}"
                                        alt="italian" 
                                        class="wow fadeInDown">
                            </p>
                        </div>
                        <p>... in italiano, dai!</p>
                    </div>

                    <div class="clearfix"></div>

                </div>

                <a  href="docs/Lawra_CV.pdf" 
                    target="_blank">

                    <div class="cv_button button">
                        <img    src="{{ asset('img/front/download_icon.png')}}"
                                alt="download icon">
                        <p>DOWNLOAD CV</p>
                    </div>

                </a>


            </section>
            {# END VISUEL SECTION #}
            
            {#  CONTACT SECTION #}
            <h3 id="contact">
                Hey buddy!<br/>Feel free to drop me a line, even just to say hello.
            </h3>
            <section class="contact" >
                <article class="contact_box">
                    <div class="box_1">
                        <div class="icon_box">
                            <img    src="{{ asset('img/front/mail_icon.png')}}"
                                    alt="mail" 
                                    class="wow fadeInDown">
                        </div>
                        <p>HI@LAWRART.COM</p>
                    </div>
                </article>

                <article class="contact_box">
                    <div class="box_2">
                        <div class="icon_box">
                            <img    src="{{ asset('img/front/phone_icon.png')}}"
                                    alt="phone" 
                                    class="wow fadeInDown">
                        </div>
                        <p>
                            <a href="skype:lawrart?call">SKYPE ME!</a>
                        </p>
                        <!--<p>+33 05 11 77 02 46</p>-->
                    </div>
                </article>

                <article class="contact_box" class="wow fadeInUp">
                    <div class="box_3">
                        <div class="icon_box">
                            <img    src="{{ asset('img/front/map_icon.png')}}"
                                    alt="map" 
                                    class="wow fadeInDown">
                        </div>
                        <p>PARIS, FRANCE</p>
                    </div>
                    <div class="clearfix"></div>
                </article>
                <ul class="social">
                    <li>
                        <a href="https://www.pinterest.com/lawrarte/" target="_blank">
                            <div class="pinterest">
                                <span></span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://fr.linkedin.com/in/lawra" target="_blank">
                            <div class="linkedin">
                                <span></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
            {# END CONTACT SECTION #}


            <footer class='main'>
                <p class="rightshome">
                    {% include 'LawAdminBundle:Front:rights.html.twig' %}
                </p>
            </footer>

        </div> 
        {# END WRAPPER #}

        {% include 'LawAdminBundle:Front:scripts.html.twig' %}

    </body>
    
</html>
