<!-- JQUERY -->
<script src="{{ asset('bundles/lawadmin/front/js/jquery-1.11.3.min.js') }}" type="text/javascript"></script>

<!-- WOW -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<!-- ANIMSITION -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/js/jquery.animsition.js"></script>

<!-- LAW CUSTOM JS -->
<script src="{{ asset('bundles/lawadmin/front/js/main.js') }}" type="text/javascript"></script>