{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends "LawAdminBundle:Default:index.html.twig" %}

{% block content %}
    <h1>Page not found</h1>

    {# example security usage, see below #}
    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}

{% block scripts %}
{% endblock %}