
{# script for this page #}
<script src="{{ asset('bundles/lawadmin/js/jquery-ui-1.9.2.custom.min.js') }}"></script>

{# custom switch #}
<script src="{{ asset('bundles/lawadmin/js/bootstrap-switch.js') }}"></script>

{# custom tagsinput #}
<script src="{{ asset('bundles/lawadmin/js/jquery.tagsinput.js') }}"></script>

{# custom checkbox & radio #}
<script src="{{ asset('bundles/lawadmin/js/bootstrap-inputmask/bootstrap-inputmask.min.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/form-component.js') }}"></script>

{# Ext. libraries #}
<script src="{{ asset('bundles/lawadmin/js/gritter/js/jquery.gritter.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/dropzone.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/dragula.min.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/dropify.js') }}"></script>

{#  Classes #}
<script src="{{ asset('bundles/lawadmin/js/classes/model/Gallery.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/model/Illustration.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/PersistenceManager.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/PersistenceObserver.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/parser/Parser.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/Alert.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/presenter/PresenterFactory.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/presenter/IllustrationPresenter.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/GalleryManager.js') }}"></script>

<script type="text/javascript">
    
    $( document ).ready(function() {

        var parser = new Parser();
        var manager = new GalleryManager(
            parser.parseFormToObj(
                new Gallery(), 
                $('#galleryForm')
            ),
            new Array(),
            '#galleryForm'
        );        

        {# Bootstrap Tabs #}
        $('.nav-pills a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
        
        $('.nav-tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        {# Drag and drop #}
        dragula([document.getElementById('illustrations')],{})
            .on('drop', function (el) {

                manager.updateListOrder();

            });

        {# Images drag&drop #}
        $('.dropify').dropify();        

        {# Bindings #}
            
        {# Bindings : Update gallery #}
        $(document).on('click',"[data-law-action='saveGallery']", {} ,function(event){                                
            
                manager.saveGallery('#galleryForm');

                event.preventDefault();
        });        
                    
        {# Bindings : Illustrations #}
            
        {#Illustration upload#}
        Dropzone.options.myAwesomeDropzone = {
            paramName: "image",
            init: function() {
              this.on("success", function(file, response) {
                  manager.uploadIllustrationCB(response);
              });
            }
        };            
            
        {# Bindings : Delete Gallery #}
        $(document).on('click',"[data-law-action='delete']", {} ,function(event){

            manager.deleteIllustration(
                $(this).attr("data-law-param-id"), 
                $(this).attr("data-law-param-name")
            );
            event.preventDefault();
        });            
            
        {# Bindings : Toggle Gallery's visibility #}
        $(document).on('click',"[data-law-action='toggleVisibility']", {} ,function(event){

            console.log('toggle visibility');
            manager.toggleVisibility(
                $(this).attr("data-law-param-id"),
                $(this).is(":checked")
{#                $(this).find("[data-model-property='visible']").is(":checked")#}
            );
{#            event.preventDefault();#}
        });
    });
</script>
