{#<form id="galleryForm" class="form-horizontal style-form" method='put' enctype="multipart/form-data" data-model-class='Gallery' action='http://localhost/LAB/test.php'>#}
<form id="galleryForm" class="form-horizontal style-form" method='put' data-model-class='Gallery'>

{#    <span class="hidden" name="id" class="id" data-model-property='id' >
        {{ gallery.id }} 
    </span> #}
    
    <input type='hidden' name="id" data-model-property='id' value='{{ gallery.id }}' />

    <div class="form-group">
        <label class="col-sm-1 col-sm-1 control-label">Name</label>
        <div class="col-sm-11">
            <input type="text" id="lawadmin_gallery_name" name="name" class="form-control" data-model-property='name' placeholder="Gallery name" value="{{ gallery.name}}">
        </div>
    </div>
        
    <div class="form-group">
        <label class="col-sm-1 col-sm-1 control-label">Slug</label>
        <div class="col-sm-11">
            <input type="text" id="lawadmin_gallery_slug" name="slug" class="form-control" data-model-property='slug' placeholder="Gallery slug" value="{{ gallery.slug }}">
        </div>
    </div>
        
    <div class="form-group">
        <label class="col-sm-1 col-sm-1 control-label">Section</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" data-model-property='section' placeholder="Ex: UX, Design, Illustration, ..." value="{{ gallery.section }}">
        </div>
    </div>
        
    <div class="form-group">
        <label class="col-sm-1 col-sm-1 control-label"> English description</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" data-model-property='descEn' placeholder="English gallery's description" value="{{ gallery.descEn}}">
        </div>
    </div>
        
    <div class="form-group">
        <label class="col-sm-1 col-sm-1 control-label">Spanish description</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" data-model-property='descEs' placeholder="Spanish gallery's description" value="{{ gallery.descEs }}">
        </div>
    </div>       

    <div class="form-group">
        <label class="col-sm-1 col-sm-1 control-label">Visible</label>
        <div class="col-sm-11">

            <div class="switch switch-square"
                 data-on-label="<i class=' fa fa-eye'></i>"
                 data-off-label="<i class='fa fa-eye-slash'></i>">

                <input  type="checkbox" 
                        data-model-property='visible' 
                        {{ gallery.visible ? 'checked' }} />

            </div>

        </div>
    </div>          
        
    <div class="form-group">        
        <label class="col-sm-1 col-sm-1 control-label">Thumbnail image</label>
        <div class="col-sm-11">

            <input  type="file" 
                    class="dropify" 
                    name = 'thumbnailImage'
                    data-model-property='thumbnailImage'                   
                    data-default-file="{{ gallery.thumbnailImage ? asset( file_path_manager.getUrl(gallery.thumbnailImage, img_thumbnail, gallery ) ) }}" />
            
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-1 col-sm-1 control-label">Banner image</label>
        <div class="col-sm-11">

            <input  type="file"
                    class="dropify" 
                    name = 'bannerImage'
                    data-model-property='bannerImage'
                    data-default-file="{{ gallery.bannerImage ? asset( file_path_manager.getUrl(gallery.bannerImage, img_banner, gallery ) ) }}" />
        </div>
    </div>                     
        
        
    <hr>
    
    
    
{#    <button type="submit" name="submit" value="submit" class="btn btn-theme02 btn-lg pull-right col-xs-12" data-law-action='saveGallery' >    
    </button> #}       
    <button type="button" class="btn btn-theme02 btn-lg pull-right col-xs-12" data-law-action='saveGallery' >
        <i class="fa fa-check"></i> Save changes
    </button>        


</form>