{% extends "LawAdminBundle:Default:index.html.twig" %}

{% block content %}

    <h1>
        {{ gallery.name|default('Gallery name') }}
    </h1>

    <hr>

    <div id="alertContainer" class="col-lg-12" style="margin-bottom: 1rem;"></div>

    <div class="row">
        
        <div class="col-lg-12 col-xs-12">
            
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tabInfo">Gallery Info</a></li>
                <li><a href="#tabIllustrations">Illustrations</a></li>
            </ul>
            
        </div>
        
    </div>
    
    <br />
    
    <div class="tab-content">
        
        <div role="tabpanel" class="tab-pane fade in active" id="tabInfo">
            {% include 'LawAdminBundle:Default:gallery/gallery_tab_info.html.twig'%}
        </div>
        
        <div role="tabpanel" class="tab-pane fade" id="tabIllustrations">
            {% include 'LawAdminBundle:Default:gallery/gallery_tab_illustrations.html.twig'%}            
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {% include 'LawAdminBundle:Default:gallery/gallery_scripts.html.twig' %}
{% endblock %}