
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#uploadContainer">
    Add images &nbsp;
    <i class="fa fa-file-image-o "></i>    
</button>

<div id="uploadContainer" class="collapse">

    <form   action="{{ path('api_1_post_illustration', {'gallery' : gallery.id }) }}"
            class="dropzone"
            id="my-awesome-dropzone">

        <div class="dz-message needsclick">
            Drop your images here or click to upload.<br>
        </div>

    </form>

</div>

<div id="illustrations" class="row mt">

    {% for currentImage in images %}
        
        {% if currentImage.visible %}
            {% set checkVisible = 'checked' %}
        {% else %}
            {% set checkVisible = '' %}
        {% endif %}

        <div class="col-lg-4 col-md-4 col-sm-4 mb illustration" data-model-class='Illustration' data-law-param-id="{{currentImage.id}}">

            <div class="content-panel pn">
                
                {# Delete Button #}
                <a  href="#" 
                    data-toggle="tooltip" 
                    data-placement="top" 
                    data-law-action="delete" 
                    data-law-param-id="{{ currentImage.id }}" 
                    data-law-param-name="{{ currentImage.name }}" 
                    title="Delete gallery"                       
                    class="deleteGalleryButton btn btn-theme04 btn-sm">

                    <i class="fa fa-times"></i>

                </a>
                    
                {# Visibility check button #}
                <div class="visibilityContainer"                     
                     data-law-param-id="{{ currentImage.id }}">
                        
                        <input id="visible_{{ currentImage.id }}" 
                               type="checkbox"
                               data-law-action="toggleVisibility"
                               data-law-param-id="{{ currentImage.id }}"
                               data-model-property="visible"
                               title="toggle visibility"                                
                               class="tgl tgl-flip btn-theme04" 
                               {{ checkVisible }} />
                        
                        <label data-tg-off="&#xf070;" 
                               data-tg-on="&#xf06e;" 
                               for="visible_{{ currentImage.id }}" 
                               class="tgl-btn" >
                        </label>                        
                </div>                     
                                
                <div    id="spotify" 
                        style="background: url('{{ asset("img/porfolio/#{gallery.slug}/illustrations/#{currentImage.file}") }}') no-repeat center top">
                </div>
                <p class="followers"><i class="fa fa-user"></i>{{ currentImage.file|length > 50 ? currentImage.file|slice(0, 50) ~ '...' : currentImage.file  }}</p>
            </div>
        </div>                                

    {% endfor %}

</div>{# end row #}
