{# Modal #}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add new gallery</h4>
            </div>
            
            <div class="modal-body" data-model-class="Gallery">

                <form id="newGalleryForm" class="form-horizontal style-form" method="post">
                    <center>
{#                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="hidden" name='id' data-model-property="id" class="form-control" >
                            </div>
                        </div>#}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text"   name='name' data-model-property="name" class="form-control" placeholder="Gallery name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text"   name='slug' data-model-property="slug" class="form-control" placeholder="Slug">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text"   name='section' data-model-property="section" class="form-control" placeholder="Section">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="file" class="dropify" data-default-file="thumbnailImage" name='thumbnailImage' data-model-property="thumbnailImage" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="file" class="dropify" data-default-file="bannerImage" name='bannerImage' data-model-property="bannerImage" />
                            </div>
                        </div>
                    </center>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-save">Create</button>
            </div>
        </div>
    </div>
</div>  
