{% extends "LawAdminBundle:Default:index.html.twig" %}

{% block content %}

    <h3>
        <i class="fa fa-angle-right"></i> PORFOLIO
    </h3>

    <button id='addGalleryBtn' class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal" style="margin-top: 0.5rem">
        Add gallery
    </button>

    <hr>

    {% include 'LawAdminBundle:Default:porfolio/porfolio_form_gallery.html.twig' %}
    <div id="alertContainer" class="col-lg-12" style="margin-bottom: 1rem;"></div>
    <div id="porfolio" class="row mt porfolioContainer">
                        
        {% for currentGallery in galleries %}

            {% if currentGallery.thumbnailImage is not null and currentGallery.thumbnailImage is not empty %}
                {% set panelBackground = 'url(' ~ asset( "img/porfolio/#{currentGallery.slug}/thumb/#{currentGallery.thumbnailImage}" ) ~ ')' ~ 'no-repeat center top' %}
            {% else %}
                {% set panelBackground = 'grey' %}
            {% endif%}
            
            {% if currentGallery.visible %}
                {% set checkVisible = 'checked' %}
            {% else %}
                {% set checkVisible = '' %}                
            {% endif %}            
            
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc" style="margin-bottom: 1rem;">
                
                <div class="galleryPanel content-panel pn" data-model-class="Gallery" data-law-param-id="{{currentGallery.id}}">

                    {# Delete Button #}
                    <a  href="#" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        data-law-action="delete" 
                        data-law-param-id="{{ currentGallery.id }}" 
                        data-law-param-name="{{ currentGallery.name }}" 
                        title="Delete gallery"                       
                        class="deleteGalleryButton btn btn-theme04 btn-sm">
                        
                        <i class="fa fa-times"></i>

                    </a>
                    
                    {# Visibility check button #}
                    <div class="visibilityContainer"                     
                         data-law-param-id="{{ currentGallery.id }}">

                            <input id="visible_{{ currentGallery.id }}" 
                                   type="checkbox"
                                   data-law-action="toggleVisibility"
                                   data-law-param-id="{{ currentGallery.id }}"
                                   data-model-property="visible"
                                   title="toggle visibility"                                
                                   class="tgl tgl-flip btn-theme04" 
                                   {{ checkVisible }} />

                            <label data-tg-off="&#xf070;" 
                                   data-tg-on="&#xf06e;" 
                                   for="visible_{{ currentGallery.id }}" 
                                   class="tgl-btn" >
                            </label>                        
                    </div>
                    
                    {# Model properties #}
                    <span data-model-property="id" class='hidden'>{{ currentGallery.id }}</span>
                    <span data-model-property="thumbnailImage" class='hidden'>{{ currentGallery.thumbnailImage }}</span>
                    <span data-model-property="slug" class='hidden'>{{ currentGallery.slug }}</span>

                    {# Gallery's background image #}
                    <div id="profile-02" style="background: {{ panelBackground }}">

                        <div class="user">
                            <h4 data-model-property="name">{{ currentGallery.name }}</h4>
                        </div>

                    </div>

                    {# Edit #}
                    <div class="pr2-social centered">

                        <a  href="{{ path('admin_gallery', {'id' : currentGallery.id } ) }}"
                            data-toggle="tooltip" 
                            data-placement="top" 
                            title="Edit gallery info">

                            <i class="fa fa-edit"></i>

                        </a>
                            
                    </div>
                                
                </div>

            </div>
                                
        {% endfor %}

    </div>{# end row #}
{% endblock %}

{% block scripts %}
    {% include 'LawAdminBundle:Default:porfolio/porfolio_scripts.html.twig' %}
{% endblock %}
