
{# script for this page #}
<script src="{{ asset('bundles/lawadmin/js/jquery-ui-1.9.2.custom.min.js') }}"></script>


{# custom switch #}
<script src="{{ asset('bundles/lawadmin/js/bootstrap-switch.js') }}"></script>


{# custom tagsinput #}
<script src="{{ asset('bundles/lawadmin/js/jquery.tagsinput.js') }}"></script>


{# custom checkbox & radio #}

<script src="{{ asset('bundles/lawadmin/js/bootstrap-inputmask/bootstrap-inputmask.min.js') }}"></script>

<script src="{{ asset('bundles/lawadmin/js/form-component.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/dropify.js') }}"></script>

<script src="{{ asset('bundles/lawadmin/js/gritter/js/jquery.gritter.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/dragula.min.js') }}"></script>

<script src="{{ asset('bundles/lawadmin/js/classes/View.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/model/Gallery.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/PersistenceManager.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/PersistenceObserver.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/PorfolioManager.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/parser/Parser.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/Alert.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/presenter/PresenterFactory.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/classes/presenter/GalleryPresenter.js') }}"></script>

<script type="text/javascript">


    $( document ).ready(function() {
        
        {# Images drag&drop #}
        $('.dropify').dropify();
        
        {# Init porfolio #}
        var parser = new Parser();
        {#var galleries = parser.parseGals();#}
        var porfolio = new PorfolioManager();
        {#porfolio.setGalleries(galleries);        #}
        var presenterFactory = new PresenterFactory();
        
        {# Drag and drop#}
        dragula([document.getElementById('porfolio')],{})
            .on('drop', function (el) {

                console.log("Drag n drop");
                porfolio.updateListOrder();

            });            
            
        {# Init galleries #}
        $(".porfolioContainer [data-model-class='Gallery']").each(function( index ) {
            
            var currentGalHTML = $(this);
            var currentGal = parser.parseHTMLToObj(new Gallery(), currentGalHTML);
            currentGal.setNew(false);
            
            console.log(currentGal.properties);
            if( ! currentGal.isVisible( ) ){
                console.log("No es visible");
            }else{
                console.log("Es visible");
            }
            
            porfolio.addGallery(
                currentGal, 
                new View(
                    currentGalHTML,
                    currentGal, 
                    presenterFactory.getPresenter(currentGal)
                )
            );
        });

        {# Bindings #}

        {# Bindings : Toggle Gallery's visibility #}
        $(document).on('click',"[data-law-action='toggleVisibility']", {} ,function(event){

            console.log('toggle visibility');

            porfolio.toggleVisibility(
                $(this).attr("data-law-param-id"),
                $(this).is(":checked")
            );
        });
        
        {# Bindings : Delete Gallery #}
        $(document).on('click',"[data-law-action='delete']", {} ,function(event){

            console.log('delete');
            var galleryId = $(this).attr("data-law-param-id");

            bootbox.confirm(
                "Are you sure you want to delete the gallery '"+$(this).attr("data-law-param-name")+"' ?", 
                function(result){ 

                    if(result === true){

                        porfolio.deleteGallery(galleryId);
                    }
                }
            );                                    
            event.preventDefault();
        });
        
        
        {# Bindings : Form #}
        $( "#myModal .btn-save" ).click(function(event) {

            console.log("'Save form' button");

            event.preventDefault();
            porfolio.saveGallery();

            return false;
        });
        {# Bindings : 'Add new gallery' button #}
        $('#addGalleryBtn').click(function(event){
            
            console.log("'Add new gallery' button");
            
            parser.parseObjtToForm(new Gallery(), $( "#myModal" ));
        });

    });
    
</script>
