<footer class="site-footer">
    <div class="text-center">
        {{"now"|date('Y')}} - Laura Martínez 
        <a href="gallery.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
