    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <link rel="shortcut icon" 
          type="image/png" 
          href="{{ asset('bundles/lawadmin/img/favicon.png') }}">      
    <title>Lawrarte - Admin</title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/lawadmin/css/bootstrap.css') }}" 
              type="text/css" 
              rel="stylesheet" />
    
        <!--external css-->
        <link href="{{ asset('bundles/lawadmin/font-awesome/css/font-awesome.css') }}" 
              type="text/css" 
              rel="stylesheet" />
        <link href="{{ asset('bundles/lawadmin/js/fancybox/jquery.fancybox.css') }}" 
              type="text/css" 
              rel="stylesheet" />
        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/lawadmin/css/style.css') }}"
              type="text/css" 
              rel="stylesheet">
        <link href="{{ asset('bundles/lawadmin/css/bootstrap-editable.css') }}"
              type="text/css" 
              rel="stylesheet">
        <link href="{{ asset('bundles/lawadmin/css/style-responsive.css') }}"
              type="text/css" 
              rel="stylesheet">
        <link href="{{ asset('bundles/lawadmin/js/gritter/css/jquery.gritter.css') }}"
              type="text/css" 
              rel="stylesheet">
        <link href="{{ asset('bundles/lawadmin/css/dragula.min.css') }}"
              type="text/css" 
              rel="stylesheet">        
    {% endblock %}    
    
    <script src="{{ asset('bundles/lawadmin/js/jquery.js') }}"></script>
{#    <script src="assets/js/jquery.js"></script>#}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->