<!DOCTYPE html>
<html lang="en">
    
    <head>      
    {% include 'LawAdminBundle:Default:head.html.twig' %}
    </head>

    <body>

    <section id="container" >
      
        {% include 'LawAdminBundle:Default:header.html.twig' %}
      
        {% include 'LawAdminBundle:Default:sidebar.html.twig' %}
      
        {# main content start #}
        <section id="main-content">
            
            <section class="wrapper site-min-height">            
                {% block content %}{% endblock %}
            </section>
            
        </section>
        {# main content end #}
      
        {% include 'LawAdminBundle:Default:footer.html.twig' %}
      
    </section>

    {# js placed at the end of the document so the pages load faster #}
    {% include 'LawAdminBundle:Default:scripts.html.twig' %}
    {% block scripts %}{% endblock %}
  </body>
</html>

