{# empty Twig template #}
<script src="{{ asset('bundles/lawadmin/js/fancybox/jquery.fancybox.js') }}"></script>    
<script src="{{ asset('bundles/lawadmin/js/bootstrap.min.js') }}"></script>
<script class="include" type="text/javascript" src="{{ asset('bundles/lawadmin//js/jquery.dcjqaccordion.2.7.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('bundles/lawadmin/js/jquery.nicescroll.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/lawadmin/js/bootbox.min.js') }}"></script>

{# common script for all pages #}
<script src="{{ asset('bundles/lawadmin/js/common-scripts.js') }}"></script>

<script type="text/javascript">

  $(function() {
        
        jQuery(".fancybox").fancybox();
  });


{# Javascript Constants #}

{% if gallery is defined %}

    const GALLERY_GET_URI   = '{{ path('api_1_get_galleries', {'gallery' : gallery.id })}}';
    const GALLERY_POST_URI  = '{{ path('api_1_post_galleries')}}';
    const GALLERY_PUT_URI   = '{{ path('api_1_put_galleries', {'gallery' : gallery.id })}}';
    const GALLERY_IMG_POST_URI = '{{ path('api_1_post_galleries_image', {'gallery' : gallery.id })}}';

    const ILLUSTRATION_LIST_ORDER_POST_URI = '{{ path('api_1_post_gallery_illustrations_order', {'id' : gallery.id })}}';
    const ILLUSTRATION_POST_URI = '{{ path('api_1_post_illustration', {'gallery' : gallery.id })}}';
    const ILLUSTRATION_DELETE_URI = '{{ path('api_1_delete_illustration', {'illustration' : 'ILLUSTRATION_ID'})}}';
    const ILLUSTRATION_PATCH_URI = '{{ path('api_1_patch_illustration', {'illustration' : 'ILLUSTRATION_ID'})}}';

    const IMG_TYPE_ILLUSTRATION =  '{{ img_illustration }}';
    const IMG_TYPE_THUMBNAIL = '{{ img_thumbnail }}';
    const IMG_TYPE_BANNER = '{{ img_banner }}';

{% else %}
    
    const GALLERY_GET_URI = '{{ path('api_1_get_galleries', {'gallery' : 'GALLERY_ID' })}}';
    const GALLERY_POST_URI = '{{ path('api_1_post_galleries')}}';
    const GALLERY_PUT_URI = '{{ path('api_1_put_galleries', {'gallery' : 'GALLERY_ID' })}}';
    const GALLERY_PATCH_URI = '{{ path('api_1_patch_galleries', {'gallery' : 'GALLERY_ID' })}}';
    const GALLERY_DELETE_URI = '{{ path('api_1_delete_gallery', {'gallery' : 'GALLERY_ID' })}}';
    PORFOLIO_LIST_ORDER_POST_URI = '{{ path('api_1_post_galleries_order') }}';    
    
{% endif %}



</script>