<aside>
    <div id="sidebar"  class="nav-collapse ">
        
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered">
                <a href="profile.html">
                    <img src="{{ asset('bundles/lawadmin/img/home.png') }}" class="img-circle" width="60">
                </a></p>
            <h5 class="centered">Law</h5>

            <li class="mt">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>Mensaje de bienvenida</span>
                </a>
            </li>

            <li class="sub-menu">
{#                <a href="javascript:;" >#}
                <a href="{{ path ("admin_index")}}" >
                    <i class="fa fa-desktop"></i>
                    <span>Porfolio</span>
                </a>
                {#
                <ul class="sub">
                      {% for currentSection in sections %}
                          <li><a  href="#">{{ currentSection.name }}</a></li>
                      {% endfor %}
                </ul>
                #}
            </li>

            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-tasks"></i>
                    <span>Formularios</span>
                </a>
                <ul class="sub">
                    <li><a  href="#">Formulario de contacto</a></li>
                </ul>
            </li>
        </ul>

    </div>
</aside>

