{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<form class="form-login" action="{{ path("fos_user_security_check") }}" method="post">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
    <h2 class="form-login-heading">sign in now</h2>
    <div class="login-wrap">
        
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="User name" autofocus>

        <br>
        <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password">

        <div class="checkbox">
            <label for="remember_me">
                <input type="checkbox" type="checkbox" id="remember_me" name="_remember_me" value="on">
                {{ 'Remember me'|trans }}
            </label>
        </div>

        <input class="btn btn-theme btn-block" type="submit" id="_submit" name="_submit" value="{{ 'SIGN IN'|trans }}" />

        <label class="checkbox">
            <span>
                <a data-toggle="modal" href="login.html#myModal">Forgot Password?</a>
            </span>
        </label>

    </div>

</form>	
