<!DOCTYPE html>
<html lang="en">

    <head>      
        {% include 'LawAdminBundle:Default:head.html.twig' %}
    </head>

    <body>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-theme" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->          
        
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <!-- <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> -->
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div id="login-page">
            <div class="container">

                {% block fos_user_content %}
                {% endblock fos_user_content %}

            </div>
        </div>

        <!-- js placed at the end of the document so the pages load faster -->

        <script type="text/javascript" src="{{ asset('bundles/lawadmin/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lawadmin/js/bootstrap.min.js') }}"></script>
        <!--BACKSTRETCH-->
        <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
        <script type="text/javascript" src="{{ asset('bundles/lawadmin/js/jquery.backstretch.min.js') }}"></script>

        <script>
            $.backstretch("{{ asset('bundles/lawadmin/img/law-login-bg.gif') }}", {speed: 500});
        </script>

    </body>

</body>
</html>