/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color: #656464;
}

/*========== MON CODE ==========*/
    * {
        box-sizing: border-box;
    }

/*=======HEADER========*/
.wrapper {
    width: 100%;
    /*background-color: deepskyblue;*/
}

header {
    /*background-color: antiquewhite;*/
}

nav ul li {
    display: inline-block;
    padding: 15px;
    font-family: 'Lato', sans-serif;
}

nav ul li a {
    
    position: relative;
    color: #3c3c3c;    
    text-decoration: none;        
}

nav ul li a:hover{    
    color: #3c3c3c;
    /*border-bottom: 2px solid #ed1261;*/
}

nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ed1261;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav {
    /*background-color: red;*/
    /*
    width: 350px;
    margin-left: 261px;
    */
}

header h1 {
    margin: 30px;
    margin-top: 15px;    
    float: left;
}


header {

  width:100%;
  height:150px;
  background: rgba(255, 255, 255, 0);
  position:fixed;
  top:0;
  left:0;
  transition: height 500ms, background 500ms;
  z-index: 9999999999;
}

header.tiny {
  background: rgba(255, 255, 255, 0.95);
  height:50px;
/*  height:80px;    */
}

header img{
    width: 145px;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;   
}

header h1 h2{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin-top: 10px;
    opacity: 1;    
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;     
}

header.tiny h1 h2{
    opacity: 0;
    font-size: 0;
}

header.tiny img{
    width: 40px;  
}

.presen_left h2 {
    font-size: 35px;
    color:#656464;
    font-family: 'Lobster', cursive;
    margin-bottom: 36px;
}

.mainNav{
    float: right;
}

.selfPortrait{
    position: absolute;
    left: 0;
    top: -110px;
    
}

.img_presen{
    float: left;
    width: 50%;
    position: relative;
}

.presen_left{
    position: relative;
    height: 650px;
    /*border: 1px solid red;*/
    /*padding-left: 172px;*/
    padding-top: 150px;
    margin: 0 auto;
    background-image: url('../images/home.gif');
    background-size: cover;
}

.link_porfolio{
    position: absolute;
    bottom: 0;
    z-index: 99;
}
.text_bloc_presen {
    position: relative;
    width: 50%;
    margin: 0 auto;
    /*float: left;*/
    min-height: 380px;
    text-align: center;
}

.text_bloc_presen p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 25px;  
    color: #656464;
    margin: 2em 0;
}

.button_portfolio {
    background-color: #ed1261;
    width: 309px;    
    min-height: 53px;
}

.button_portfolio p {
    font-size: 20px;
    font-family: 'Lato 700', sans-serif;
    color: white;
    padding-top: 15px;
}

.text_bloc_presen a {
    text-decoration: none;
}

.button_portfolio img {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

.clearfix {
    clear: both;
}
/*======END HEADER=======*/
/*=======SECTION 3: WORKS========*/

section.works{
    margin-top: 2rem;    
    font-family: 'Lato 700', sans-serif;
}

.grid {
	position: relative;
	clear: both;
}

/* Common style */
.grid figure {
    
	position: relative;
	float: left;
	overflow: hidden;
    margin: 0;
	width: 33.3333%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {

	position: relative;
	display: block;
    width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 2.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Sarah *****/
/*---------------*/

figure.effect-sarah {
	background: black;
}

figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
    opacity: 0;
}

figure.effect-sarah:hover h2 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah  p {
    
    position: relative;
	overflow: hidden;
    
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*-------------------*/
/***** End Sarah *****/
/*-------------------*/

/* Media queries */
@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}

/*=====END SECTION 3: WORKS=====*/
/*=====HI SECTION 3=====*/

#porfolioSelection {
    padding-top: 50px;
}

.keywords {
    height: 222px;
    width: 200px;
    text-align: right;
    float: left;
    font-size: 20px;
    line-height: 26px;
    font-family: 'Lato 700', sans-serif;
    color: #bea3f2;
    margin-bottom: 53px;
}

.txt_description {
    float: left;
    width: 732px;
    font-family: 'Lato', sans-serif;
    color: #656464;
    font-size: 20px;
    line-height: 26px;
    padding-left: 20px;
}

.description {
    display: table;
    margin: 0 auto;
}

h3 {
    font-size: 55px;
    color:#656464;
    font-family: 'Lobster', cursive;
    margin-bottom: 36px;
    text-align: center;
    margin-top: 60px;
}

/*=====VISUAL SECTION HAPPY EMPLOYERS=====*/

.visual {
    margin-top: 20px;    
    width: 100%;
    /*height: 762px;*/
    background-image: url(../images/visual_madrid.jpg);
    margin: 0 auto;
    background-size: cover;
}

.visualAbout {
    height: 762px;
}

.visual img {
    display: table;
    margin: 0 auto;
}

h4 {
    font-size: 55px;
    color:#ffffff;
    font-family: 'Lobster', cursive;
    margin-bottom: 36px;
    text-align: center;
    padding-top: 60px;
}

h4.chatHeader {
    margin-top: 1rem;
    margin-bottom: 1px;
}

.langList {
    
    display: table;
    margin: 0 auto;    
}

.language {
    margin-right: 5rem;
    padding-bottom: 85px;
    float: left;
    color: #ffffff;
    font-family: 'Lato 700', sans-serif;
    font-size: 15px;
    text-align: center;
    align-content: center;
}

.language > div {
    display: table;
    margin: 0 auto;
}

.language > div > p {       
    display: table-cell;
    vertical-align: bottom;
    height: 100px;
}

.language p {
    padding-top: 10px;
    text-align: center;
}

.cv_button {
    background-color: #ed1261;
    width: 309px;    
    height: 53px;
    margin-top: 26px;
    margin: 0 auto;
    margin-top: 43px;
}

.cv_button p {
    font-size: 20px;
    font-family: 'Lato 700', sans-serif;
    color: white;
    padding-top: 18px;
}

.cv_button img {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 8px;
}

/*=====CONTACT SECTION=====*/

.contact {
    text-align: center;
    display: table;
    margin: 0 auto;
    width: 1200px;
    margin-top: 65px;
}

.contact_box p {
    font-size: 20px;
    font-family: 'Lato bold', sans-serif;
    color: white;
    padding-top: 20px;
}

.box_1 {
    background-color: #bea3f2;
    width: 288px;
    height: 161px;
    margin-left: 87px;
    float: left;
}

.box_2 {
    background-color: #8493af;
    width: 288px;
    height: 161px;
    margin-left: 87px;
    float: left;
}

.box_3 {
    background-color: #0db8e6;
    width: 288px;
    height: 161px;
    margin-left: 87px;
    float: left;
}

.icon_box {
    padding-top: 28px;
}

.social {
    width: 270px;
    display: table;
    margin: 0 auto;
    padding-bottom: 50px;
}

.social li {
    display: inline-block;
    padding: 30px;
}

footer {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 25px; 
    color: #656464;
    margin-top: 280px;
}

/*-----SPRITES-----*/

.pinterest {
    background-image: url(../images/sprites.gif);
    width: 52px;
    height: 52px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;    
}

.pinterest:hover {
    background-position: 0px -51px;
}

.linkedin {
    background-image: url(../images/sprites.gif);
    background-position: -51px 0PX;
    width: 52px;
    height: 52px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;    
}

.linkedin:hover {
    background-position: -51px -51px;
}

/*-----END SPRITES-----*/
/*==============PAGE 2==========*/

img.visual { 
    width: 100%;
}

section.galleryDesc {
    margin-top: 150px;
    widows: 100%;
}

div.galleryVisual {
    position: relative;
    margin-bottom: 5rem;
}

div.scrollDownIcon {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 94%;
    left: 0;
}

p.rightsGal {
    margin-top: 10px;
    margin-bottom: 20px;
}

p.rightshome {
    margin-top: 10px;
    margin-bottom: 20px;
}

div.galleryTitle, footer div.galleryBottom {
    position: relative;
    width: 50%;
    padding: 2.7rem 0;
    text-align: center;
    margin: 0 auto;
}
img.previousGal, img.nextGal {
    position: absolute;
}

img.previousGal {
    top: 45%;
    left: 0;
}
img.nextGal {
    top: 45%;
    right: 0;
}

img.closeGal {
    display: block;
    margin: 0 auto;
}

section.galleryPics {
    width: 100%;
    padding: 0 10rem;
    background-color: #dde5f4;
    padding-top: 70px;
    padding-bottom: 70px;
}

section.galleryPics img {
    width: 100%;   
    display: block;
    margin-bottom: 5rem;
}

h5 {

    font-size: 70px;
    color:#8493af;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.project_text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 25px;  
    color: #656464;
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.project_class {
    font-family: 'Lato 700', sans-serif;
    font-size: 20px;
    color: #656464;
    text-align: center;
}





